:root .theme_light {
  --bg-color: #fff1f7;
  --bg-cover: url('../images/cover-image-light.png');
  --accent-color: #ff8dcb;
  --main-title: #353430;
  --card-title: #353430;
  --title-color: #ffc2e6;
  --shadow-color: #ff0070;
  --main-text-color: #353430;
  --main-font: 'IBM Plex mono', serif;
  --hover-button: rgba(50, 49, 45, 0.4);
  --decorative-icon-color: #353430;
}

.page.theme_light {
}

.page.theme_light .decorative-icon {
  display: none;
}
